<!-- <p>Team</p>
<ul ng-repeat="team in teams">
<li>{{team.name}}</li>
<ul>
<li ng-repeat="page in team.pages track by $index">
<a target="_blank" href="{{page.url}}">{{page.url}}</a>
</li>
</ul>
</ul> -->
<!-- style="background-color:grey; text-align:center" -->

<h5 class="list-group-item" >Your Notes</h5>
<script type="text/ng-template" id="group-template.html"></script>
<uib-accordion close-others="oneAtATime">
    <uib-accordion-group ng-repeat="team in teams" heading="{{team.name}}">
        <ul class="list-group">
        	<a ng-repeat="page in team.pages track by $index" ng-click="setTeam(team.name)" target="_blank" href="{{page.url}}">
            <li class="list-group-item list-group-item-info webnote-paper">{{page.url}}</li></a>
        </ul>
    </uib-accordion-group>
</uib-accordion>
