<!-- <p>Team</p>
<ul ng-repeat="team in teams">
<li>{{team.name}}</li>
<ul>
<li ng-repeat="page in team.pages track by $index">
<a target="_blank" href="{{page.url}}">{{page.url}}</a>
</li>
</ul>
</ul> -->
<script type="text/ng-template" id="group-template.html">
</script>
<uib-accordion close-others="oneAtATime">
    <uib-accordion-group heading="{{team.name}}" ng-repeat="team in teams">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info" ng-repeat="page in team.pages track by $index">
                <a ng-click="setTeam(team.name)"target="_blank" href="{{page.url}}">{{page.url}}</a>{{team.name}}
            </li>
        </ul>
    </uib-accordion-group>
</uib-accordion>