<nav id="notonav">
  <div class="container">
    <a class="fa fa-unlock-alt fa-2x fa-fw" ui-sref="login" ng-hide="!isLoggedIn">
      <span>Login</span>
    </a>
    <a class="fa fa-sign-in fa-2x fa-fw" ui-sref="signup" ng-hide="!isLoggedIn">
      <span>Signup</span>
    </a>
    <a class="fa fa-sitemap fa-2x fa-fw" ng-class="{activeState:state.name==='pages'}" ui-sref="pages" data-info="Notes">
      <span>Notes</span>
    </a>
    <a class="fa fa-commenting-o fa-2x fa-fw" ng-class="{activeState:state.name==='unread'}" ui-sref="unread" data-info="Unread">
      <span>Unread</span>
    </a>
    <a class="fa fa-users fa-2x fa-fw" ng-class="{activeState:state.name==='team'}" ui-sref="team" data-info="Groups">
      <span>Groups</span>
    </a>
    <a class="fa fa-refresh fa-2x fa-fw" ng-click="refresh()" data-info="Refresh">
      <span>Refresh</span>
    </a>
    <a class="fa fa-lock fa-2x fa-fw" ng-show="!isLoggedIn" ng-click="logout()" data-info="Logout">
      <span>Logout</span>
    </a>
    <span class="pull-right welcome-message"><br>Welcome {{welcome.user}}!</span>
  </div>
</nav>
