
<nav class="navbar navbar-default">
  <div class="container-fluid">
  	 <a type="button" class="btn btn-default btn-md" ui-sref="pages">Pages</a>
    <a type="button" class="btn btn-default btn-md" ui-sref="login" ng-hide="!isLoggedIn">Login</a>
    <a type="button" class="btn btn-default btn-md" ui-sref="signup" ng-hide="!isLoggedIn">Signup</a>
    <a type="button" class="btn btn-default btn-md" ng-show="!isLoggedIn" ng-click="logout()">Logout</a>
    <a type="button" class="btn btn-default btn-md" ui-sref="team">Teams</a>
    <a type="button" class="btn btn-default btn-md" ng-click="refresh()">Refresh</a>


  </div>
</nav>
