<!-- users {{users.users}} -->
<div class="container">
    <div>
        <p>{{ team.name }}</p>
        <div id="teamGroup">
            <ul ng-repeat="user in team.users">
                <li>{{user.email}}</li>
                <span ng-show="toggleEdit" class="glyphicon glyphicon-remove" ng-click="deleteMember(team._id, user._id)"></span>
            </ul>
        </div>
        <div>
            <button type="button" class="btn btn-success" ng-click="toggleEdit = !toggleEdit">Edit This Team</button>
            <div class="container" ng-show="toggleEdit">
                <form id="login-form" name="loginForm" ng-submit="addNewTeamMember(team._id, userObject, teamObject)">
                    <div class="form-group">
                        <label for="teamName">Team Name</label>
                        <input type="name" ng-model="teamObject.name" class="form-control">
                        <label for="email">Add Members</label>
                        <input type="email" ng-model="userObject.email" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>