@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,700,800);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower:400,300,500,700,800);
@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie:400,300,500,700,800);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  color: #272626;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #3b5998;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #36444e;
}


/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

/*h1, h2, h3, h4, h5, h6 {
    font: 700 40px/1.2 Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 5px 0 5px;
    color: #222;
}

h2 {
    font-size: 30px;
    margin: 0 0 30px;
}*/


/* ---------------------------------------------- /*
 * <body>
/* ---------------------------------------------- */

#mainWindow {
  width: 400px;
}


/* ---------------------------------------------- /*
 * webnote.html
/* ---------------------------------------------- */

#corkboard {
  width: 400px;
  height: 500px;
  background: url('../icons/corkboard.png') no-repeat center center fixed;
  background-size: cover;
  border: none;
}

/*div*/
#postit {
  position: relative;
}

/*h2*/
#postittext {
  position: absolute;
  text-align: center;
  top: 45px;
  left: 125px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 50px;
}

#loginsignup {
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  text-align: center;
  font-weight: 800;
}

#loginsignup p,
a {
  margin: 0;
  padding: 0;
}

#loginsignup a {
  text-transform: uppercase;
  color: #133b8b;
}

#loginsignup a:focus,
a:hover {
  color: #13778b;
}


/* ---------------------------------------------- /*
 * navbar
/* ---------------------------------------------- */

#notonav {
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: #FFFFCC;
}

#notonav a {
  color: #f0f0f0;
  outline: none;
  display: inline-block;
  position: relative;
  text-align: left;
  width: 50px;
  height: 50px;
  background: #FFFFCC;
  border-radius: 50%;
  margin: 0 0.4em;
  border: 4px solid #6495ED;
}

#notonav a.activeState {
  background: #6495ED;
}

#notonav .activeState.fa:after {
  color: #FFFFCC;
}

#notonav a > span {
  display: none;
}

#notonav a:hover:before {
  content: attr(data-info);
  font-size: 18px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: #6495ED;
  position: absolute;
  width: 600%;
  top: 120%;
  text-align: right;
  right: 0;
  pointer-events: none;
}

#notonav a:hover {
  background: #6495ED;
  cursor: pointer;
}

#notonav .fa:before {
  content: '';
}

#notonav .fa-2x {
  font-size: 1.5em;
}

#notonav .fa:after {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  color: #6495ED;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 2;
  text-indent: 0;
}

#notonav a:hover:after {
  color: #FFFFCC;
}

#notonav .fa-sitemap:after {
  content: "\f0e8";
}

#notonav .fa-commenting-o:after {
  content: "\f27b";
}

#notonav .fa-users:after {
  content: "\f0c0";
}

#notonav .fa-refresh:after {
  content: "\f021";
}

#notonav .fa-lock:after {
  content: "\f023";
}


/* ---------------------------------------------- /*
 * edit.html
/* ---------------------------------------------- */

#teamGroup {
  display: inline;
}


/* ---------------------------------------------- /*
 * paper
/* ---------------------------------------------- */

.webnote-paper {
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-position: -70px -9px;
  color: black;
}
