@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower:400,300,500,700,800);
@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie:400,300,500,700,800);

body {
  /*font: 300 18px/1.8 'Raleway', sans-serif;*/
  color: #272626;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #272626;
}

a:hover {
  text-decoration: none;
  color: #36444e;
}

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

/*h1, h2, h3, h4, h5, h6 {
    font: 700 40px/1.2 Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 5px 0 5px;
    color: #222;
}

h2 {
    font-size: 30px;
    margin: 0 0 30px;
}*/

/* ---------------------------------------------- /*
 * <body>
/* ---------------------------------------------- */

#mainWindow {
  width: 400px;
  height: 500px;
}

/* ---------------------------------------------- /*
 * webnote.html
/* ---------------------------------------------- */

#corkboard {
  width: 400px;
  height: 500px;
  background: url('../icons/corkboard.png') no-repeat center center fixed;
  background-size: cover;
  /*position: relative;*/
}

/*div*/
#postit {
  position: relative;
}

/*h2*/
#postittext {
  position: absolute;
  text-align: center;
  top: 45px;
  left: 125px;
  font-family: 'Reenie Beanie';
  font-size: 50px;
}

#loginsignup {
  font-family: 'Reenie Beanie';
  font-size: 30px;
  text-align: center;
  font-weight: 800;

}

#loginsignup p, a {
  margin: 0;
  padding: 0;
}

#loginsignup a {
  text-transform: uppercase;
}

/* ---------------------------------------------- /*
 * edit.html
/* ---------------------------------------------- */

#teamGroup {
  display: inline;
}

/* ---------------------------------------------- /*
 * paper
/* ---------------------------------------------- */

.webnote-paper {
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  font-family: 'Indie Flower', cursive;
  font-size: 16px;
  background-position: -70px -9px;
  color: black;
}
