#mainWindow {
  /*background-color: black;
  color: white;*/
    height: 550px;
    width: 400px;
}

a {
  color: black;
}

#teamGroup{
	display: inline;
}

#logo {
	font-size: 30em;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	position: absolute;
	color: rgba(255, 255, 255, 1.0);
	z-index: -1;
	top: 0px;
	padding-top: 50px;
}

#logotext {
	color: black;
	font-family: cursive;
	margin-left: 40px;
	margin-top: 100px;
}

#loginsignup {
	text-align: center;
	margin-top: 220px;
	padding: 0px;
}

#loginsignup a {
	color: white;
	font-weight: 900;
	margin: 0;
	padding: 0;
}

#loginsignup p {
	margin: 0;
	padding: 0;
}

section .wrap.reverse .insert.large {
    left: -13%;
}
section .wrap.reverse .insert {
    right: auto;
    left: 0%;
}
section .wrap .insert.large {
    top: 40px;
    right: -12.5%;
    width: 40%;
    max-width: 400px;
}
section .wrap .insert {
    position: absolute;
    top: 60px;
    right: 0%;
    width: 33%;
    max-width: 250px;
}
* {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}
svg[Attributes Style] {
    x: 0px;
    y: 0px;
    width: 468px;
    height: 450px;
}
user agent stylesheethtml|* > svg {
    transform-origin: 50% 50% 0px;
}
user agent stylesheetsvg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}
user agent stylesheet* {
    transform-origin: 0px 0px 0px;
}