
<div ng-hide="hidelanding || isLoggedIn" id="corkboard">
    <div id="postit">
        <img src='../icons/postit400.png'></img>
        <h2 id="postittext"> Welcome <br>to<br> Noto! </h2>
    </div>

    <div id="loginsignup">
        <p> Already using Noto to collaborate? </p>
        <a ng-click="hidelanding = !hidelanding" ui-sref='login'><i class="fa fa-thumb-tack"></i> Log in here!</a>
        <p> Ready to start? </p>
        <a ng-click="hidelanding = !hidelanding" ui-sref="signup"><i class="fa fa-thumb-tack"></i> Sign up!</a>
    </div>
</div>
